label {
    font-weight: normal !important;
}

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}

.foto-scan-pemilih {
    width: 50%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.info-voting{
    background-color: #ededed;
}

.input-search{
    position: relative !important;
}

.delete-input-search{
    position: absolute;
    top: 0;
    right: 0;
}

.show-hide-password{
    cursor: pointer;
    color: #4a5057;
}

.show-hide-password:hover{
    color: #4a5057;
}

.w-10{
    width: 10%;
}
.w-90{
    width: 90%
}
.w-80x{
    width: 80px;
}
.clr-gray{
    color: #a0a0a0;
}
.aspect-ratio-3-4{
    aspect-ratio: 3/4;
}
.aspect-ratio-1-1{
    aspect-ratio: 1/1;
}
.csr-pointer{
    cursor: pointer;
}
.white-space-initial{
    white-space: initial;
}